plots/logistic_regression_C_all_features.png filter=lfs diff=lfs merge=lfs -text
plots/rf_depth_estimators_4_features.png filter=lfs diff=lfs merge=lfs -text
plots/rf_depth_estimators_surface_all_features.png filter=lfs diff=lfs merge=lfs -text
plots/rf_estimators_4_features.png filter=lfs diff=lfs merge=lfs -text
plots/hist_gradient_boosting_lr_all_features.png filter=lfs diff=lfs merge=lfs -text
plots/rf_depth_estimators_all_features.png filter=lfs diff=lfs merge=lfs -text
plots/rf_depth_estimators_surface_4_features.png filter=lfs diff=lfs merge=lfs -text
plots/rf_estimators_all_features.png filter=lfs diff=lfs merge=lfs -text
plots/rf_max_depth_4_features.png filter=lfs diff=lfs merge=lfs -text
plots/rf_max_depth_all_features.png filter=lfs diff=lfs merge=lfs -text
plots/decision_tree_depth_4_features.png filter=lfs diff=lfs merge=lfs -text
plots/decision_tree_depth_all_features.png filter=lfs diff=lfs merge=lfs -text
plots/hist_gradient_boosting_lr_4_features.png filter=lfs diff=lfs merge=lfs -text
plots/logistic_regression_C_4_features.png filter=lfs diff=lfs merge=lfs -text
results/rf_depth_estimators_surface_results.csv filter=lfs diff=lfs merge=lfs -text
results/rf_estimators_results.csv filter=lfs diff=lfs merge=lfs -text
results/rf_max_depth_results.csv filter=lfs diff=lfs merge=lfs -text
results/decision_tree_depth_results.csv filter=lfs diff=lfs merge=lfs -text
results/hist_gradient_boosting_lr_results.csv filter=lfs diff=lfs merge=lfs -text
results/logistic_regression_C_results.csv filter=lfs diff=lfs merge=lfs -text
results/rf_depth_estimators_results.csv filter=lfs diff=lfs merge=lfs -text
data/raw/Mental[[:space:]]Health[[:space:]]Classification.csv filter=lfs diff=lfs merge=lfs -text
results/decision_tree_depth_results_all_features.csv filter=lfs diff=lfs merge=lfs -text
results/hist_gradient_boosting_lr_results_all_features.csv filter=lfs diff=lfs merge=lfs -text
results/logistic_regression_C_results_4_features.csv filter=lfs diff=lfs merge=lfs -text
results/rf_depth_estimators_surface_results_4_features.csv filter=lfs diff=lfs merge=lfs -text
results/rf_depth_estimators_surface_results_all_features.csv filter=lfs diff=lfs merge=lfs -text
results/hist_gradient_boosting_lr_results_4_features.csv filter=lfs diff=lfs merge=lfs -text
results/logistic_regression_C_results_all_features.csv filter=lfs diff=lfs merge=lfs -text
results/rf_depth_estimators_results_4_features.csv filter=lfs diff=lfs merge=lfs -text
results/rf_depth_estimators_results_all_features.csv filter=lfs diff=lfs merge=lfs -text
results/rf_estimators_results_4_features.csv filter=lfs diff=lfs merge=lfs -text
results/rf_estimators_results_all_features.csv filter=lfs diff=lfs merge=lfs -text
results/rf_max_depth_results_4_features.csv filter=lfs diff=lfs merge=lfs -text
results/rf_max_depth_results_all_features.csv filter=lfs diff=lfs merge=lfs -text
results/decision_tree_depth_results_4_features.csv filter=lfs diff=lfs merge=lfs -text
plots/rf_depth_estimators.png filter=lfs diff=lfs merge=lfs -text
plots/rf_depth_estimators_surface.png filter=lfs diff=lfs merge=lfs -text
plots/rf_estimators.png filter=lfs diff=lfs merge=lfs -text
plots/rf_max_depth.png filter=lfs diff=lfs merge=lfs -text
plots/decision_tree_depth.png filter=lfs diff=lfs merge=lfs -text
plots/hist_gradient_boosting_lr.png filter=lfs diff=lfs merge=lfs -text
plots/logistic_regression_C.png filter=lfs diff=lfs merge=lfs -text
plots/social_media_eating_vs_depression.png filter=lfs diff=lfs merge=lfs -text
plots/depression_distribution.png filter=lfs diff=lfs merge=lfs -text
plots/education_vs_depression.png filter=lfs diff=lfs merge=lfs -text
plots/employment_vs_depression.png filter=lfs diff=lfs merge=lfs -text
plots/gender_vs_depression.png filter=lfs diff=lfs merge=lfs -text
plots/low_energy_vs_depression.png filter=lfs diff=lfs merge=lfs -text
plots/overeating_vs_depression.png filter=lfs diff=lfs merge=lfs -text
plots/sleep_vs_depression.png filter=lfs diff=lfs merge=lfs -text
plots/fcmp_1_n.png filter=lfs diff=lfs merge=lfs -text
plots/fcmp_1_p.png filter=lfs diff=lfs merge=lfs -text
plots/fcmp_5_m.png filter=lfs diff=lfs merge=lfs -text
plots/fcmp_5_n.png filter=lfs diff=lfs merge=lfs -text
plots/fcmp_5_p.png filter=lfs diff=lfs merge=lfs -text
plots/fcmp_1_m.png filter=lfs diff=lfs merge=lfs -text
